:root {
  --clr1: rgb(30, 30, 30);
  --clr2: rgb(70, 130, 180);

  --clr1bg: rgb(245, 245, 245);
  --clr1bg-light: rgb(255, 255, 255);
  --clr2bg: rgb(220, 235, 250);
  --clr2bg-light: rgb(240, 248, 255);

  --gray1: rgb(240, 240, 240);
  --gray2: rgb(170, 170, 170);
  --gray3: rgb(60, 60, 60);
}
